#divcentral{
	background-color: #d8d8d8;
	margin-left:30%;
	padding:10%;
	margin-right:30%;
	margin-top:13%;
	border: 2px green solid;
	border-radius: 10px;
	
}
label{
	color:#00ad02;
	font-family:Calibri;
	font-size:30px;
}

#botao{
	border:none;
	margin-top:10%;
	margin-left:25%;
	
}

.inputs{
	border-radius:5px;
	padding:5px;
	width:250px;
	margin-top:20px;
	height:20px;
}

#aviso{
	font-style:Century Gothic;
	color:green;
	margin-left:30%;
}

#titulo{
	margin-left:20%;
}